<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>beibao.png</key>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>beijing.png</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>lianqi.png</key>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>156</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paihang.png</key>
		<dict>
			<key>x</key>
			<integer>156</integer>
			<key>y</key>
			<integer>156</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>renwu.png</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>156</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>shangcheng.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>wujiang.png</key>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>xiulian.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>156</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>zhenxing.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>59</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>juxian.png</key>
		<dict>
			<key>x</key>
			<integer>177</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>65</integer>
		</dict>
		<key>judian.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>93</integer>
		</dict>
	</dict>
</dict>
</plist>