<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>u10.attack (1).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.attack (2).png</key>
		<dict>
			<key>x</key>
			<integer>65</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-22.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.attack (3).png</key>
		<dict>
			<key>x</key>
			<integer>147</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-23.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.attack (4).png</key>
		<dict>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-20</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.attack (5).png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-16</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.attack (6).png</key>
		<dict>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.move (1).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.move (2).png</key>
		<dict>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.move (3).png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.move (4).png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.move (5).png</key>
		<dict>
			<key>x</key>
			<integer>292</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.move (6).png</key>
		<dict>
			<key>x</key>
			<integer>360</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.stay (1).png</key>
		<dict>
			<key>x</key>
			<integer>421</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.stay (2).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.stay (3).png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-8</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.stay (4).png</key>
		<dict>
			<key>x</key>
			<integer>131</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.stay (5).png</key>
		<dict>
			<key>x</key>
			<integer>196</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u10.stay (6).png</key>
		<dict>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-8</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
	</dict>
</dict>
</plist>