<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>u7.attack (1).png</key>
		<dict>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>285</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-19.5</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.attack (2).png</key>
		<dict>
			<key>x</key>
			<integer>89</integer>
			<key>y</key>
			<integer>285</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>-27.5</real>
			<key>offsetY</key>
			<real>21.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.attack (3).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>285</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-29.5</real>
			<key>offsetY</key>
			<real>22.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.attack (4).png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>-29.5</real>
			<key>offsetY</key>
			<real>23</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.attack (5).png</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-28.5</real>
			<key>offsetY</key>
			<real>22.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.attack (6).png</key>
		<dict>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-20.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.move (1).png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-14.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.move (2).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.move (3).png</key>
		<dict>
			<key>x</key>
			<integer>355</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.move (4).png</key>
		<dict>
			<key>x</key>
			<integer>265</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.move (5).png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-14.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.move (6).png</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-16</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.stay (1).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-20</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.stay (2).png</key>
		<dict>
			<key>x</key>
			<integer>368</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-20</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.stay (3).png</key>
		<dict>
			<key>x</key>
			<integer>276</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-20.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.stay (4).png</key>
		<dict>
			<key>x</key>
			<integer>186</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>-21.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.stay (5).png</key>
		<dict>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-21</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u7.stay (6).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-19.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
	</dict>
</dict>
</plist>