<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>u8.attack (1).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-8</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.attack (2).png</key>
		<dict>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-18</real>
			<key>offsetY</key>
			<real>9</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.attack (3).png</key>
		<dict>
			<key>x</key>
			<integer>161</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-21</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.attack (4).png</key>
		<dict>
			<key>x</key>
			<integer>250</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>-17</real>
			<key>offsetY</key>
			<real>11.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.attack (5).png</key>
		<dict>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>-14.5</real>
			<key>offsetY</key>
			<real>13</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.attack (6).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-15</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.move (1).png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.move (2).png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>7.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.move (3).png</key>
		<dict>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.move (4).png</key>
		<dict>
			<key>x</key>
			<integer>301</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.move (5).png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.move (6).png</key>
		<dict>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>6</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.stay (1).png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.stay (2).png</key>
		<dict>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.stay (3).png</key>
		<dict>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.stay (4).png</key>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.stay (5).png</key>
		<dict>
			<key>x</key>
			<integer>290</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>u8.stay (6).png</key>
		<dict>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
	</dict>
</dict>
</plist>